.app {
  width: 700px;
  margin: 30px auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.app_title {
  font-size: 50px;
}

.joke {
  height: 80px;
  margin-top: 50px;
  padding: 20px;
  border: 2px solid #e5e5e5;
}

.joke_text {
  font-size: 20px;
  line-height: 24px;
}

.programming {
  background-color: #333;
  border-color: #00cc00;
  color: #00cc00;
  font-weight: 600;
}

.programming .joke_underscore {
  display: inline-block;
  transform: translateY(-6px);
  animation: blink 1s step-end infinite;
  border-bottom: 3px solid #00cc00;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00cc00;
  }
}

.app_button {
  margin-top: 30px;
  width: 180px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #ff6347;
  border: 2px solid #999;
  cursor: pointer;
}
