.jokeContainer {
  width: calc(100% - 3rem);
  min-height: 8rem;
  margin: 3rem auto 0;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color-primary);
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  box-shadow: 0 8px 6px -6px var(--shadow-color);
}

@media (min-width: 640px) {
  .jokeContainer {
    width: 40rem;
    max-width: 85%;
    border-right: 1px solid var(--color-secondary);
    border-left: 1px solid var(--color-secondary);
  }
}
