.themeLight {
  --background-color: #fff;
  --color-primary: #ff765e;
  --color-secondary: #aaa;
  --button-color-hover: #ff6b51;
  --button-color-active: #ec593e;
  --button-color-text: #fff;
  --text-color-primary: #333;
  --text-color-secondary: #777;
  --shadow-color: #e5e5e5;
}

.themeDark {
  --background-color: #333;
  --color-primary: #973997;
  --color-secondary: #e0dd0d;
  --button-color-hover: #812b81;
  --button-color-active: #07aa07;
  --button-color-text: #fff;
  --text-color-primary: #00ffff;
  --text-color-secondary: #0ee90e;
  --shadow-color: transparent;
}

.app {
  background-color: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.configBar {
  display: flex;
}
